<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hdfcergo.cattletagging">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashLoginPasscode.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashLoginPasscode.LoginScreen"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SplashLoginPasscode.PassCodeScreen"
            android:label="@string/title_passcodescreen" />
        <activity
            android:name=".DashBoard.DashBoardActivity"
            android:label="Dashboard" />
        <activity android:name=".DashBoard.LeadDetailScreens"></activity>
    </application>

</manifest>
