<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hdfcergo.cattletagging">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashLoginPasscode.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashLoginPasscode.LoginScreen"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashLoginPasscode.PassCodeScreen"
            android:label="@string/title_passcodescreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashBoard.DashBoardActivity"
            android:label="Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LeadDetails.LeadDetailActivity"
            android:label="Leads"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CattleTaggingFragments.CattleFragmentsContainerActivity"
            android:label="Cattle Tagging"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LeadSummaryActivity.CattleLeadSummaryActivity"
            android:label="Lead Summary"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CattleFormFilling.CattleFormFilling"
            android:label="Lead Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashLoginPasscode.ForgotPasswordActivity"
            android:label="Forgot Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CattleTaggingFragments.SignatureViewActivity"
            android:label="Signature"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FormFillingSwipeable.FormFillingSwipeable"
            android:label="Signature"
            android:windowSoftInputMode="stateHidden"/>

    </application>

</manifest>
